.post-modal {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.post-modal-title {
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    padding: 10px 20px;
}